@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Welcome</h1>
    <p class="lead text-muted">Mini Account Management System</p>
</div>
