@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<ul>
    <li>
        <a class="accordion-button" href="/Admin/ManageUsers">Manage Users</a>
    </li>
    <li>
        <a class="accordion-button" href="/Admin/ManageRoles">Manage Roles</a>
    </li>
    <li>
        <a class="accordion-button" href="/Accounts/ChartOfAccounts">Chart of Accounts</a>
    </li>
</ul>