<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiniAccountManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiniAccountManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-white border-end" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">
                <a class="text-dark text-decoration-none" asp-area="" asp-page="/Index">MiniAccountManagement</a>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-page="/Index">
                    <i class="fas fa-home me-2"></i>Dashboard
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-page="/Accounts/ChartOfAccounts">
                    <i class="fas fa-chart-bar me-2"></i>Chart Of Accounts
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">
                    <i class="fas fa-file-invoice me-2"></i>Invoices
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-page="/Admin/ManageUsers">
                    <i class="fas fa-users me-2"></i>Manage Users
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-page="/Admin/ManageRoles">
                    <i class="fas fa-cog me-2"></i>Manage Roles
                </a> 
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-page="/Vouchers/CreateVouchers">
                    <i class="fas fa-file-invoice me-2"></i>CreateVouchers
                </a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow">
                <div class="container-fluid">
                    <button class="btn btn-light" id="sidebarToggle"><i class="fa-solid fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        </ul>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </nav>

            <main role="main" class="container-fluid p-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>